@import "partials/fonts";

* {
  margin: 0pt;
  padding: 0pt;
}

body {
  margin: 2em;
  font-size: 16px;
}

p {
  margin-top: 0.3em;
}

span.word {
  opacity: 0.4;
}

span.word:hover, span.word.active {
  opacity: 1;
}
