/*
  Formatting rules for this file:

  - Don't use tabs.
  - 2 space indents.
  - Use a leading space after a rule like so:
  - Braces are used like this:

    .ui-bar-c {
      border: none;
    }

  - Not like this:

    .ui-bar-c {
      border: none;
      }

  - ...or like this:

      .ui-bar-c {
      border: none;
      }

  - ...or like this:

    .ui-bar-c{
      border: none;
    }

  - Just one space after colon and none before:

    border: none;

*/


@import "partials/fonts";
@import "partials/base";
@import "partials/jplayer";


/* ************************************************************************* *
   ICON SPRITE GENERATION AND STYLES
 * ************************************************************************* */

/* background size needed for correct retina icon sprite sizing */
@import "compass/css3/background-size";
@import "partials/compass-retina-sprites";

/* standard icon sprite */
$ui-icon-spacing: 20px;
@import "spriteicons/icons/ui-icon/*.png";
@include all-ui-icon-sprites;

/* retina icon sprite */
$ui-icon2x-spacing: 20px;
@import "spriteicons/icons-2x/ui-icon2x/*.png";
@include all-retina-sprites($ui-icon-sprites, $ui-icon2x-sprites);

.ui-icon {
  position: relative;
  left: 50%;
  top: 50% !important;
  margin-left: -15px !important;
  margin-top: -15px !important;
  height: 30px;
  width: 30px;
}

.ui-header .ui-btn-icon-notext .ui-btn-inner .ui-icon {
  margin-top: -20px !important;
}

.ui-btn-icon-right>.ui-btn-inner>.ui-icon {
  left: inherit;
}

.ui-loader .ui-icon {
  top: 15px !important;
  padding-bottom: 10px;
  background-repeat: no-repeat;
}

/* theese icons are default from jquery mobile, so we are not spriting them. */
.ui-icon.ui-icon-radio-on, .ui-icon.ui-icon-radio-off, .ui-icon.ui-icon-minus, .ui-icon.ui-icon-plus, .ui-icon.ui-icon-refresh, .ui-icon.ui-icon-delete, .ui-icon.ui-icon-check, .ui-icon.ui-icon-checkbox-off, .ui-icon.ui-icon-checkbox-on {
  height: 18px !important;
  width: 18px !important;
  margin-left: 0px !important;
  margin-top: -8px !important;
}

.ui-btn-icon-notext {
  &[data-icon='search_menu_icn'] {
    @include background-image(linear-gradient(#8cbbe2, #4c95d1));
  }
}

/* ************************************************************************* *
   Various jQuery Mobile fixes
 * ************************************************************************* */

.ui-btn-icon-notext .ui-btn-inner .ui-icon {
  margin: 0px;
}

.ui-bar-c {
  border: none;
}

.ui-body-c {
  border: none;
}

.ui-content .ui-field-contain {
  padding: 0 !important;
  margin: 0 !important;
}

.ui-icon-shadow {
  @include box-shadow(none);
}

.menu {
  margin: 1px 10px 0 0;
  float: right;
  .ui-btn {
    width: 65px;
    background: none;
  }
  /*.ui-icon {
    width: 30px;
    left: 21px;
    @include border-radius(0, 0);
  }*/
  .ui-btn-active {
    background-color: #262626;
    border: 1px solid black;
    .ui-btn-inner {
      border-color: black;
      width: 47px !important;
      height: 24px !important;
    }
  }
  .ui-icon-bookmark-list {
    margin: -13px 0px 0px 0px;
  }
  .ui-icon-book-index {
    margin: -9px 0px 0px 0px;
  }
  .ui-btn-inner {
    width: 47px !important;
    height: 24px !important;
  }
}

.ui-header {
  background: #464646 url(../images/bg_pattern_black.png) repeat;
  border-top: 1px solid #72716e;
  border-bottom: 1px solid #000;
  height: 2.6875em;

  h1.ui-title {
    font-size: 18px !important;
    color:#fff;
    @include text-shadow(#000 0 -1px 0);
  }
  .ui-btn {
    font-size: 13px;
    height: 30px !important;
    top: 5px !important;
    &.ui-btn-icon-notext {
      width: 63px;
      font-family: "Arial";
    }
  }
  /* The blue button problem (#431): override lyt.css.ui-btn-active, TODO better to modify theme roller? */
  .ui-btn-active {
    background-image: -webkit-linear-gradient( #5D5B5B /*{b-bup-background-start}*/, #434141 /*{b-bup-background-end}*/);
    color: white /*{b-bup-color}*/;
    border: 1px solid black /*{b-bup-border}*/;
  }
  .menu {
    .ui-btn-active {
      background-image: -webkit-linear-gradient( #262626 /*{b-bup-background-start}*/, #262626 /*{b-bup-background-end}*/);
    }
  }
  .ui-btn-right {
    right: 10px !important;
  }
  .ui-btn-left {
    left: 10px !important;
  }
  .ui-btn-inner {
    padding: .4em 8px .5em !important;
  }
}

.ui-btn-active {
  @include box-shadow(none);
  @include text-shadow(none);
}

.ui-page {
  background: #b5d6f1 url(../images/bg_pattern_blue.png) repeat;
}

.ui-content {
  background: transparent;
  position: relative;
}

/* Remove gradients from listviews */
.ui-listview li ~ li {
  &, &:hover, &.ui-btn-hover {
    background-image: none;
    border-top-width: 0px;
  }
}

.ui-listview-inset li.ui-li:first {
  border-top-width: 1px;
}


/* IE seems to miscalculate the position of the autocomplete list.. it probably forgets about
   some margins or padding..  fix the list at 100px, which seems to be correct on all browsers. */
.ui-autocomplete {
  top:100px !important;
}

/* "JavaScript required" message handling ************************************ */

html {
  &.js {
    #no-js {
      visibility: hidden;
    }
  }
  &.no-js {
    #no-js {
      visibility: visible;
    }
    #jplayer {
      visibility: hidden;
    }
    #bookshelf {
      visibility: hidden;
    }
  }
}

/* Fixes a problem with auto calculation of the z-index property on Apple
   Safari on IOS platforms */

#profile {
  z-index:100;
}
#support {
  z-index:101;
}
#about {
  z-index:102;
}
#book-index {
  z-index:103;
}
#share {
  z-index:104;
}
#login {
  z-index:105;
}
#splash-upgrade {
  z-index:106;
}

/* Background colors ******************************************************* */

#settings, #profile, #about, #support {
  &.ui-page {background: #9f9f9furl(../images/bg_pattern_grey.png) repeat;}
}

#login {
  &.ui-page {background: #bed5e8 url(../images/bg_pattern_blue2.png) repeat;}
}


/* ************************************************************************* *
   Styling own elements
 * ************************************************************************* */

img.e17-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 18px;
}

/* ************************************************************************* *
   jQuery Mobile loader
 * ************************************************************************* */

.ui-loader.ui-loader-default {
  .ui-icon-loading {
    margin: 0 auto;
  }
  h1 {
    font-size: 15px;
    text-align: center;
    width: 200px;
    height: 30px;
    color: white;
    text-shadow: 0 0px 0 white;
  }
  position: absolute;
  opacity: .75;
  z-index: 200;
  left: 50%;
  width: 200px;
  height: 90px;
  margin-left: -130px;
  margin-top: -35px;
  padding: 10px 30px;
  border: 2px;
  background: black;
}


/* ************************************************************************* *
   Bookshelf
 * ************************************************************************* */

/* The cross icons for removing book */
.ui-li-link-alt {
  border-width: 0;
  border-left-width: 1px;
}

.bookshelf-content, #book-index {
  .ui-li, .ui-li.ui-field-contain {
    border-top: none;
  }

  .ui-listview {
    margin-bottom: 0;
  }

  background-position: left top;
  min-height: 40px;

  ul {
    li {
      .book-now-playing {
        height: 18px;
        width: 18px;
        position: absolute;
        right: 50px;
        top: 20px;
        left: auto;
        background: transparent url(../images/icons/nowplaying.png) no-repeat 0;
      }

      .cover-image {
        height: 58px;
        max-height: none;
        margin: 0;
        width: auto;
        left: 0px;
        top: 0;
      }
      .ui-btn-text .book-play-link {
        padding: 0.2em 0 0 45px;
      }

      .cover-image {
        max-width: none;
      }

      .cover-image-frame {
        width: 37px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 58px;
      }

      .ui-btn {
        border: none;
        background: none;
        @include box-shadow(none);
      }

      .ui-icon-shadow {
        @include box-shadow(none);
      }

      .remove-book {
        border-left: 1px solid $listbordercolor;
      }

      .subsection {
        border-left: 1px solid $listbordercolor;
      }

      .ui-li-link-alt {
        .ui-btn {
          margin: -11px 0 0 0 !important;
        }
      }

      border-top: 1px solid #fff;
      border-bottom: 1px solid #888888;
      height: 58px;
      background-color: #ebebeb;

      &:hover {
        background-color: #ebebeb;
      }
      &.ui-btn-down-a {
        background-color: #8cbbe2;
      }

    }
  }

  ol {
    li {
      border-bottom: 1px solid #888888;
      background-color: #ebebeb;

      &:hover {
        background-color: #ebebeb;
      }
      &.ui-btn-down-a {
        background-color: #8cbbe2;
      }
    }
  }
}

#more-bookshelf-entries {
  display: block;
  margin: 0 -15px;
  padding: 0;
  background: rgba(212, 235, 255, 0.6);
  text-align: left;
  padding: 12px;
  @include border-radius(0);

  .ui-btn-inner {
    border: none;
    @include border-radius(0);
  }

  .ui-btn-text {
    @include text-shadow(0 1px 0 white);
    color: #464646;
    font-weight: normal;
  }

  //@include box-shadow(inset 0 0 4px #ebebeb);

  border: none;
}


/* ************************************************************************* *
   Profile page
 * ************************************************************************* */

#profile {
  .ui-content {
    max-width: 500px;
    padding: 10px;
    text-shadow: none;
    margin: 0 auto;
  }
  .ui-bar-c {
    border: 2px solid #fff;
    background-color: #ebebeb;
    font-size: 12px;
    text-shadow: none;
    padding: 0 8px;
  }
  .ui-content {
    .ui-field-contain {
        padding: 0;
        margin: 0;
    }
    h2 {
      color: #383838;
      /*@include text-shadow(#ebebeb 0 2px 0);*/
      font-weight: 500;
      /*color: #00415c;*/
      font-size: 16px;
    }
    .logged-in-as {
      background: transparent url(../images/icons/settings_profile_icn_32.png) no-repeat 0 50%;
      text-align: center;
      #current-user-name {
        display: block;
        color: black;
      }
    }
    hr {
      margin-top: 16px;
      border-top: 1px solid #484848;
      background: #ebebeb;
      height: 1px;
      border-width: 1px 0 0 0;
    }
    .ui-checkbox .ui-btn {
      height: 45px;
      .ui-btn-inner {
        padding: 0.8em 45px;
      }
      /*.ui-icon {
        top: 1.35em;
      }*/
    }
    .ui-btn, .ui-btn-up-c {
      border-color: #636363;
      color: #fff;
    }
    #log-off-button-wrapper {
      @include action-button(#c1001f, a);
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #profile {
    .logged-in-as {
      background-image: transparent url(../images/icons/settings_profile_icn_64.png) no-repeat 0 50%;
      background-size: 32px 32px;
    }
  }
}

#textarea-example {
  width: 100%;
  overflow: hidden;
  padding: 16px 0;
  border-bottom: solid 1px #ebebeb;
  //@include box-shadow(inset 0 0 14px black);
  div.inner {
    max-width: 500px;
    height: 96px;
    text-overflow: clip clip;
    overflow: hidden;
    padding: 0 12px;
    margin: 0 auto;
  }
}

.mail-button-wrapper {
  @include action-button(#5c9dd5, a);
}

/* ************************************************************************* *
   Share page
 * ************************************************************************* */

#share {
  .ui-content {
    max-width: 500px;
    padding: 10px;
    text-shadow: none;
    margin: 0 auto;
  }
  .ui-bar-c {
    border: 2px solid #fff;
    background-color: #ebebeb;
    font-size: 13px;
    text-shadow: none;
    padding: 0 8px;
  }
  h2 {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
  }
  .text-field {
    font-weight: normal;
    .ui-link {
      color: black;
    }
  }

  hr {
    margin: 8px 0;
    padding: 0;
    border-top: 1px solid #636363;
    background: #fff;
    height: 1px;
    border-width: 1px 0 0 0;
  }
}


/* ************************************************************************* *
   Settings page
 * ************************************************************************* */

#settings {
  .ui-content {
    padding: 18px;
    text-shadow: none;
  }
  #settings-input {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .ui.btn-inner {
    background-color: #ebebeb;
  }
  .ui-controlgroup-controls {
    width: 100%;
    margin: 0;
    max-width: 500px;
    display: inline;
  }
  .ui-controlgroup-label {
    color: #383838;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    display: block;
    padding-bottom: 6px;
  }
  hr {
    margin-top: 16px;
    border-top: 1px solid #484848;
    background: #ebebeb;
    height: 1px;
    border-width: 1px 0 0 0;
  }
  .ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label {
    background-image: none;
    border-color: #636363;
  }
}


/* ************************************************************************* *
   About page
 * ************************************************************************* */

#about {
 .ui-content {
    max-width: 500px;
    padding: 10px;
    text-shadow: none;
    margin: 0 auto;
  }
 .ui-bar-c {
    border: 2px solid #fff;
    background-color: #ebebeb;
    font-size: 13px;
    text-shadow: none;
    padding: 0 8px;
    padding-bottom: 8px;
  }
  h2 {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
  }
  .text-field {
    font-weight: normal;
    line-height: 1.3em;
    color: black;
  }
  hr {
    margin: 8px 0;
    padding: 0;
    border-top: 1px solid #636363;
    background: #fff;
    height: 1px;
    border-width: 1px 0 0 0;
  }
  .nota-logo {
    background: transparent url(../images/nota-logo.png) no-repeat;
    background-position: left;
    margin-left: 8px;
    max-width: 500px;
    height: 67px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #about {
    .nota-logo {
      background-image: url(../images/nota-logo-hires.png);
      background-size: 200px 67px;
    }
  }
}

/* ************************************************************************* *
   Splash upgrade page
 * ************************************************************************* */

#splash-upgrade .content {
  div {
    margin: 14px 0px
  }
}

/* ************************************************************************* *
   Support and splash upgrade page
 * ************************************************************************* */

.deprecation-notice {
  background-color: red;
  display: none;
  padding: 8px;
}

#support, #splash-upgrade {
  .ui-content {
    max-width: 500px;
    padding: 10px;
    text-shadow: none;
    margin: 0 auto;
  }
  .ui-bar-c {
    border: 2px solid #fff;
    background-color: #ebebeb;
    font-size: 13px;
    text-shadow: none;
    padding: 0 8px;
    padding-bottom: 8px;
  }
  h2 {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
  }
  h3 {
    color: #383838;
    margin-bottom: 0.5em;
  }
  .text-field {
    font-weight: normal;
    color: black;
    line-height: 1.3em;
    .ui-link {
      color: black;
    }
  }

  .videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      border: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  hr {
    margin: 8px 0;
    padding: 0;
    border-top: 1px solid #636363;
    background: #fff;
    height: 1px;
    border-width: 1px 0 0 0;
  }
}


/* ************************************************************************* *
   Redirect page
 * ************************************************************************* */

#redirect {
 .ui-content {
    max-width: 500px;
    padding: 10px;
    text-shadow: none;
    margin: 0 auto;
  }
  .ui-bar-c {
    border: 2px solid #fff;
    background-color: #ebebeb;
    font-size: 13px;
    text-shadow: none;
    padding: 0 8px;
    padding-bottom: 8px;
  }
  h2 {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
  }
  .text-field {
    font-style: normal;
  }
  hr {
    margin: 8px 0;
    padding: 0;
    border-top: 1px solid #636363;
    background: #fff;
    height: 1px;
    border-width: 1px 0 0 0;
  }
  #e17-button-wrapper {
    @include action-button(#8cbbe2, a);
  }

  #e17-mobil-button-wrapper {
    @include action-button(#8cbbe2, a);
  }
}


/* ************************************************************************* *
   Search page
 * ************************************************************************* */

#search-form-wrapper {
  position: relative;
  background: $highlightcolor;
  height: 60px;
  @include clearfix();

  .ui-input-search {
    height: 42px;
    margin: 0 60px 0 0;
    border: 1px solid #3b73b3;
    background: #FFFFFF;
  }

  .ui-icon-searchfield::after {
    background-image: none;
  }

  #search-icon-btn {
    position: absolute;
    right: 7px;
    top: 0;
    width: 50px;

   .ui-btn {
      width: 50px;
      height: 41px;
      margin: 8px 0 0 0;
      border: 1px solid  #3b73b3;
      background-image: none;
      background-color: darken($highlightcolor, 16%);
      @include box-shadow(none);
    }
    /*
    .ui-icon {
      width: 25px;
      height: 25px;
    }*/
    .ui-btn-inner {
      padding: 5px 0 0 2px;
      height: 32px;
      border: 2px solid $highlightcolor;
    }

    .ui-btn-down-b {
      background-color: lighten($highlightcolor, 16%);
    }

  }

  .ui-input-clear {
    background-image: none;
    background: transparent;
    border: none;
    top: 31%;
    margin: 0; /*-11px 5px 0 0;*/
    margin-top: -2px;
    margin-right: 2px;
    @include box-shadow(none);

    .ui-icon-shadow {
      @include box-shadow(none);
      background-image: none;
    }
    /*.ui-icon {
      background-image: url(../images/icons/delete_icn_16.png);
      background-position: 0;
      #width: 16px;
      #height: 16px;
      @include border-radius(0);
    }*/
    .ui-btn-inner {
      border: none;
      padding: 0;
    }
  }
}

#search-form {
  padding: 7px 5px;
  border-bottom: 1px solid #3b73b3;
  border-top: 1px solid #b5d6f1;
}

#searchterm {
  line-height: 2;
  margin-left: -22px;
}

#searchresult-wrapper {

}

li.ui-li h3.no-search-results {
  padding-left: 11px;
  padding-top: 20px;
  background:#EEE;
}

/* Icons and styling of predefined search items **************************** */

@mixin predefined-search($id, $icon-name) {
  ##{$id} {
    background: transparent url(../images/icons/#{$icon-name}_icn.png) no-repeat 8px 50%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: url(../images/icons/#{$icon-name}_icn_x2.png);
      background-size: 30px 30px;
    }

    h3 {
      padding-left: 33px;
      padding-top: 10px;
    }
  }
}

@include predefined-search(anbefalinger, recommend);
@include predefined-search(nye, newbooks);
@include predefined-search(top, top10);
@include predefined-search(tegneserie, tegneserie);
@include predefined-search(topung, top10);
@include predefined-search(topvoksen, top10);
@include predefined-search(kommersnart, coming);


#searchresult {
  .ui-li {
    height: 58px;
    padding: 0;
  }
  li {
    background-color: #ebebeb;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #888888;
    height: 43px;
    img {
      height: 58px;
      max-height: none;
      margin: 0;
      width: auto;
      left: 0px;
      top: 0px;
    }
    .book-play-link {
      padding-left: 50px;
      padding-top:11px;
    }
    .ui-btn {
      border: none;
      background: none;
      @include box-shadow(none);
    }
    .cover-image {
      max-width: none;
    }
    .cover-image-frame {
      width: 37px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 58px;
    }
    .ui-li-heading {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }
    .ui-li-desc {
      font-size: 12px;
      margin: .2em 0;
    }
    &:hover {
      background-color: #ebebeb;
    }
    &.ui-btn-down-c {
      background-color: #8cbbe2;
    }
  }
}

#more-search-results {
  display: block;
  margin: 0 -15px;
  padding: 0;
  background: rgba(212, 235, 255, 0.6);
  text-align: left;
  padding: 12px;
  @include border-radius(0);
  border: none;

  .ui-btn-inner {
    border: none;
    @include border-radius(0);
  }
  .ui-btn-text {
    @include text-shadow(0 1px 0 white);
    color: #464646;
    font-weight: normal;
  }
}


/* ************************************************************************* *
   Book details page
 * ************************************************************************* */

#book-details {
  .ui-content {
    max-width: 500px;
    padding: 10px;
    text-shadow: none;
    margin: 0 auto;
  }
  .ui-bar-c {
    border: 2px solid #fff;
    background-color: #ebebeb;
    font-size: 13px;
    text-shadow: none;
  }
  .content {
    margin-left: 10px;
    @include clearfix;
    figure {
      float: left;
      margin: 0;
      .cover-image {
        max-width: 200px;
        margin-right: 1em;
        margin-bottom: 10px;
      }
    }
    .details {
      padding-left: 97px;
      margin-right: 10px;

      // Content of detail fields
      span {
        font-weight: normal;
        color: #464646;
      }
    }
  }
  #details-book-title {
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    margin: 10px 10px 0 10px;
  }
  #details-book-author {
    font-size: 1.3em;
    font-weight: normal;
    text-align: left;
    margin: 2px 10px 10px 10px;
    color: #464646;
  }
  #details-book-description {
    margin-top: 0;
    font-weight: normal;
    text-align: left;
  }

  #details-book-media {
    height: 30px;
    line-height: 30px;
    margin: 0px;

    span {
      font-weight: bold;
      font-size: 13px;
      padding-left: 30px;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-left: -9px;
    }
  }
}

#add-to-bookshelf-button {
  @include action-button(#5c9dd5, a);
}

#details-play-button {
  @include action-button(#879d27, a);
}

#book-unavailable-message {
  margin-top: 5px;
}

/* Book index page */

.section-now-playing {
  height: 18px;
  width: 18px;
  position: absolute;
  right: 50px;
  top:19px;
  left: auto;
  background: transparent url(../images/icons/nowplaying.png) no-repeat 0;
}


/* ************************************************************************* *
   Book player page
 * ************************************************************************* */

#book-play-menu {
  .ui-btn {
    margin: 0 !important;
    border-color: #000;
    border-top: none;
    border-left:none;
    border-right:none;
  }
  .ui-btn-up-a, .ui-btn-hover-a {
    background: $darkbuttoncolor;
  }
  .ui-btn-down-a {
    background: $highlightcolor !important;
  }
  /*
  .ui-icon {
    top: 10px !important;
    width: 25px;
    @include border-radius(0, 0);
  }*/
  .ui-block-a, .ui-block-b, .ui.block-c {
    margin-right: 0px !important;
  }
}

#book-context-content {
  overflow-y: scroll;
  a {
    color: inherit;

    &.external {
      color: crimson;
    }
  }

  p {
    margin-top: 0.3em;
    opacity: 0.4;
    line-height: 1.37;
    &.active {
     opacity: 1;
    }
  }
}

#book-context-content {
  &.word-highlight {
    &.is-word-marked {
      p {
        opacity: 1;
      }

      span.word {
        opacity: 0.4;
      }

      span.word.active {
        opacity: 1;
      }
    }
  }

  > div {
    margin: 2%;

    .page {
      margin: 0 auto;
      .area {
       display: none;
      }
    }
  }
}

#book-cartoon-content,
#textarea-example,
#book-plain-content,
#book-context-content {
  position: relative;
  height: 100%;
  text-shadow: none;
}

#book-cartoon-content, #textarea-example {
  overflow: hidden;
}

#book-content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 132px; /* This equals the combined height of the controls at the top of the player
                 Using the trick described by Okendoken in
                 http://stackoverflow.com/questions/4980308
               */
  bottom: 0px;
}

.segmentContainer {
  overflow: hidden; /* Without this, calling slideUp() on the element, will cause a glitch */
}

.missingSegment {
  display: none;
}

.segmentContainer + .missingSegment {
  display: inline;
}

/* Book index style hacks ************************************************** */

#NccRootElement {
  li.active {
    background-color: white;
  }
  a {
    background: none;
  }
}

.ui-content .ui-listview {
  margin: 0px;
}

.ui-li-static {
  font-size: inherit;
}

/* Bookmark related ******************************************************** */

.bookmark-actions {
    background-color: #282828 !important;
    height: 20px !important;
    color: white !important;
    padding: 0.7em;
    border-top: 0px !important;

    .bookmark-share {
        background-image: url(../images/icons/share_icn_18_white.png);
        background-size: 22px 18px;
        background-repeat:no-repeat;
        background-position:center;
    }

    .bookmark-delete {
        background-image: url(../images/icons/delete_icn_18_white.png);
        background-size: 18px 18px;
        background-repeat:no-repeat;
        background-position:center;
    }
}

.bookmark-indents {
  list-style-type: none;
  padding: 0;
  border-top: 0;
}


/* ************************************************************************* *
   Login page
 * ************************************************************************* */

#login {
  h1 {
    background: transparent url(../images/logo.png) no-repeat;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    text-indent: -9000px;
    width: 150px;
  }
  .ui-content {
    margin: 0 auto;
    max-width: 320px;
    text-align: center;
    padding:15px;
  }
  #loginwrapper {
    padding: 12px;
  }
  div.ui-input-text {
    margin: 4px;
    border: 1px solid #636363;
    background: #FFFFFF;
  }
  .ui-input-text {
    width:90%
  }
}

#login-button-wrapper {
  @include action-button(#5c9dd5, a);
  margin-top:15px;
}

img.nota-full {
  max-height: 120px;
}

#login {
  .ui-link {
    text-decoration: none;
    color:#484848;
  }
}

#legal {
  color: #2489CE;
  font-size: smaller;
  margin-top: 25px;
}

.ui-content {
  padding:0;
  border-width: 0;
}
.ui-li-icon.ui-li-thumb {
  max-width: 25px;
}


/* Pop-up menu */

.ui-simpledialog-container {
  border:2px solid #000;
  padding: 8px;

  #ok-btn {
    .ui-btn-inner {
      color:#fff;
      background-color: #C1001F;
      border: solid 2px #EA0026;
      text-shadow: 0 -1px 0 #000;
    }
    .ui-icon {
      visibility: hidden;
    }
  }
  #cancel-btn {
    .ui-btn-inner {
      color: #fff;
      background-color: #7c7c7c;
      border: solid 2px #aaaaaa;
      text-shadow: 0 -1px 0 #000;
    }
    .ui-icon {
      visibility: hidden;
    }
  }

  .ui-btn {
    border:solid 2px #636363;
  }
}
.ui-simpledialog-controls {
  .ui-btn-inner {
    background-color: #5c9dd5;
  }
}


/* ************************************************************************* *
   Bubble notification component
 * ************************************************************************* */

$bubble-background: white;
$bubble-opacity: 0.8;
$bubble-arrow-height: 10px;

.bubble-notification {
    position: absolute;
}

.bubble-notification-message {
    opacity: $bubble-opacity;
    background: $bubble-background;
    /* Center */
    margin: 0px auto;
    top: $bubble-arrow-height;

    padding: 5px 20px;
    border-radius: 3px;
    white-space: nowrap;
    font-family: "Arial";
    font-weight: bold;
    font-size: 12px;
}

.bubble-notification-arrow {
    opacity: $bubble-opacity;
    /* Center */
    margin: 0px auto;

    /* Triangle magic begins here */
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 7px $bubble-arrow-height 7px;
    border-color: transparent transparent $bubble-background transparent;
}


/* ************************************************************************* *
   Unit test elements
 * ************************************************************************* */

#qunit {
  text-shadow: none;
}

.test-tab {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  font-family: sans-serif;
  text-shadow: none;
  color: black;
  border-radius: 0.5em 0.5em 0 0;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0.4em;
  background-color: #CCC;

  &.started {
    background-color: #D2E0E6;
    background-image: url(../images/icons/test_running_16.gif);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-size: 16px;
    background-position: 4px 6px;

    &.error {
      background-image: url(../images/icons/glyphish/25-weather.png);
      background-color: #EE5757;
    }

    &.done {
      background-image: url(../images/icons/glyphish/171-sun.png);
      background-color: #C6E746;
    }
  }

}


/* ************************************************************************* *
   Instrumentation
 * ************************************************************************* */

#instrumentation-delta {
  background-color: white;
  font-family: Courier New, Courier, monospace;
  font-size: 10pt;
  padding: 5px;
  overflow-x: scroll;
}

svg.graph-canvas {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  height: 25%;
}

.delta-marker {
  fill: none;
  stroke-width: 0.015;
  stroke: blue;
  display: none;
  &.highlight {
    opacity: 0.4;
    display: block;
  }
}

.graph-line {
  fill: none;
  stroke-width: 0.001;

  &:hover {
    stroke-width: 0.005;
  }
}

@media screen and (max-width: 480px) {
  #book-details {
    .content {
      figure {
        .cover-image {
          max-width: 90px;
          margin-right: 0.5em;
        }
      }
    }
  }
}
