/*
  Formatting rules for this file:

  - Don't use tabs.
  - 2 space indents.
  - Use a leading space after a rule like so:
  - Braces are used like this:

    .ui-bar-c {
      border: none;
    }

  - Not like this:

    .ui-bar-c {
      border: none;
      }

  - ...or like this:

      .ui-bar-c {
      border: none;
      }

  - ...or like this:

    .ui-bar-c{
      border: none;
    }

  - Just one space after colon and none before:

    border: none;

*/


@import "partials/fonts";
@import "partials/base";
@import "partials/jplayer";


/* ************************************************************************* *
   ICON SPRITE GENERATION AND STYLES
 * ************************************************************************* */

/* Import flexbox module */
@import "compass/css3/flexbox";

/* background size needed for correct retina icon sprite sizing */
@import "compass/css3/background-size";
@import "partials/compass-retina-sprites";

/* standard icon sprite */
$ui-icon-spacing: 20px;
@import "spriteicons/icons/ui-icon/*.png";
@include all-ui-icon-sprites;

/* retina icon sprite */
$ui-icon2x-spacing: 20px;
@import "spriteicons/icons-2x/ui-icon2x/*.png";
@include all-retina-sprites($ui-icon-sprites, $ui-icon2x-sprites);

.ui-icon {
  position: relative;
  height: 30px;
  width: 30px;
}

.ui-header .ui-btn-icon-notext .ui-btn-inner .ui-icon {
  margin-top: -20px !important;
}

.ui-btn-icon-right>.ui-btn-inner>.ui-icon {
  left: inherit;
}

.ui-loader .ui-icon {
  top: 15px !important;
  padding-bottom: 10px;
  background-repeat: no-repeat;
}

/* theese icons are default from jquery mobile, so we are not spriting them. */
.ui-icon.ui-icon-radio-on, .ui-icon.ui-icon-radio-off, .ui-icon.ui-icon-minus, .ui-icon.ui-icon-plus, .ui-icon.ui-icon-refresh, .ui-icon.ui-icon-delete, .ui-icon.ui-icon-check, .ui-icon.ui-icon-checkbox-off, .ui-icon.ui-icon-checkbox-on {
  height: 18px !important;
  width: 18px !important;
  margin-left: 0px !important;
  margin-top: -8px !important;
}

.ui-btn-icon-notext {
  &[data-icon='search_menu_icn'] {
    @include background-image(linear-gradient(#8cbbe2, #4c95d1));
  }
}

/* ************************************************************************* *
   Various jQuery Mobile fixes
 * ************************************************************************* */

.ui-btn-icon-notext .ui-btn-inner .ui-icon {
  margin: 0px;
}

.ui-bar-c {
  border: none;
}

.ui-body-c {
  border: none;
}

.ui-content .ui-field-contain {
  padding: 0 !important;
  margin: 0 !important;
}

.ui-icon-shadow {
  @include box-shadow(none);
}

.menu {
  margin: 1px 10px 0 0;
  float: right;
  .ui-btn {
    width: 65px;
    background: none;
  }
  .ui-btn-active {
    background-color: #262626;
    border: 1px solid black;
    .ui-btn-inner {
      border-color: black;
      width: 47px !important;
      height: 24px !important;
    }
  }
  .ui-icon-bookmark-list {
    margin: -13px 0px 0px 0px;
  }
  .ui-icon-book-index {
    margin: -9px 0px 0px 0px;
  }
  .ui-btn-inner {
    width: 47px !important;
    height: 24px !important;
  }
}

.ui-btn-active {
  @include box-shadow(none);
  @include text-shadow(none);
}

.ui-page {
  .ui-panel-content-wrap {
    @include display-flex;
    @include flex-direction(column);
    border: none;
  }
}

.ui-content {
  background: transparent;
  position: relative;
}

/* Remove gradients from listviews */
.ui-listview li ~ li {
  &, &:hover, &.ui-btn-hover {
    background-image: none;
    border-top-width: 0px;
  }
}

.ui-listview-inset li.ui-li:first {
  border-top-width: 1px;
}


/* IE seems to miscalculate the position of the autocomplete list.. it probably forgets about
   some margins or padding..  fix the list at 100px, which seems to be correct on all browsers. */
.ui-autocomplete {
  top:100px !important;
}

/* "JavaScript required" message handling ************************************ */

html {
  &.js {
    #no-js {
      visibility: hidden;
    }
  }
  &.no-js {
    #no-js {
      visibility: visible;
    }
    #jplayer {
      visibility: hidden;
    }
    #bookshelf {
      visibility: hidden;
    }
  }
}

/* Fixes a problem with auto calculation of the z-index property on Apple
   Safari on IOS platforms */

#profile {
  z-index:100;
}
#support {
  z-index:101;
}
#about {
  z-index:102;
}
#share {
  z-index:104;
}
#login {
  z-index:105;
}
#splash-upgrade {
  z-index:106;
}

/* Background colors ******************************************************* */

#settings, #profile, #about, #support {
  &.ui-page {background: #9f9f9furl(../images/bg_pattern_grey.png) repeat;}
}

#login {
  &.ui-page {background: #bed5e8 url(../images/bg_pattern_blue2.png) repeat;}
}


/* ************************************************************************* *
   Styling own elements
 * ************************************************************************* */

img.e17-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 18px;
}

/* ************************************************************************* *
   jQuery Mobile loader
 * ************************************************************************* */

.ui-loader.ui-loader-default {
  .ui-icon-loading {
    margin: 0 auto;
  }
  h1 {
    font-size: 15px;
    text-align: center;
    width: 200px;
    height: 30px;
    color: white;
    text-shadow: 0 0px 0 white;
  }
  position: absolute;
  opacity: .75;
  z-index: 200;
  left: 50%;
  width: 200px;
  height: 90px;
  margin-left: -130px;
  margin-top: -35px;
  padding: 10px 30px;
  border: 2px;
  background: black;
}


/* ************************************************************************* *
   TOC
 * ************************************************************************* */

/* The cross icons for removing book */
.ui-li-link-alt {
  border-width: 0;
  border-left-width: 1px;
}

#textarea-example {
  width: 100%;
  overflow: hidden;
  padding: 16px 0;
  border-bottom: solid 1px #ebebeb;
  //@include box-shadow(inset 0 0 14px black);
  div.inner {
    max-width: 500px;
    height: 96px;
    text-overflow: clip clip;
    overflow: hidden;
    padding: 0 12px;
    margin: 0 auto;
  }
}

.mail-button-wrapper {
  @include action-button(#5c9dd5, a);
}

/* ************************************************************************* *
   Settings page
 * ************************************************************************* */

.settings-popup {
  font-family: 'Clear Sans', Arial, sans-serif;
  .ui-content {
    padding: 18px;
    text-shadow: none;
  }

  /* Overwrites the standard icon placement, as we need to position the
     yellow/black, white/blue, etc. icons on the right */
  .ui-icon.settings-color-icon {
    margin-top: -15px;
    right: 15px;
    left: initial;
    background-color: transparent;
  }

  #font-size .ui-controlgroup-controls {
    @include display-flex;

    .ui-btn {
      width: 100%;
    }
  }

  #settings-input {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .ui.btn-inner {
    background-color: #ebebeb;
  }
  .ui-controlgroup-controls {
    width: 100%;
    margin: 0;
    max-width: 500px;
    display: inline;
  }
  .ui-controlgroup-label {
    color: #383838;
    font-weight: bold;
    text-shadow: 0 1px 0 white;
    display: block;
    padding-bottom: 6px;
  }
  hr {
    margin-top: 16px;
    border-top: 1px solid #484848;
    background: #ebebeb;
    height: 1px;
    border-width: 1px 0 0 0;
  }
  .ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label {
    background-image: none;
    border-color: #636363;
  }
}

/* ************************************************************************* *
   Splash upgrade page
 * ************************************************************************* */

#splash-upgrade .content {
  div {
    margin: 14px 0px
  }
}

/* ************************************************************************* *
   Support and splash upgrade page
 * ************************************************************************* */

.deprecation-notice {
  background-color: red;
  display: none;
  padding: 8px;
}

#support, #splash-upgrade {
  .ui-content {
    max-width: 500px;
    padding: 10px;
    text-shadow: none;
    margin: 0 auto;
  }
  .ui-bar-c {
    border: 2px solid #fff;
    background-color: #ebebeb;
    font-size: 13px;
    text-shadow: none;
    padding: 0 8px;
    padding-bottom: 8px;
  }
  h2 {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
  }
  h3 {
    color: #383838;
    margin-bottom: 0.5em;
  }
  .text-field {
    font-weight: normal;
    color: black;
    line-height: 1.3em;
    .ui-link {
      color: black;
    }
  }

  .videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      border: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  hr {
    margin: 8px 0;
    padding: 0;
    border-top: 1px solid #636363;
    background: #fff;
    height: 1px;
    border-width: 1px 0 0 0;
  }
}


/* ************************************************************************* *
   Redirect page
 * ************************************************************************* */

#redirect {
 .ui-content {
    max-width: 500px;
    padding: 10px;
    text-shadow: none;
    margin: 0 auto;
  }
  .ui-bar-c {
    border: 2px solid #fff;
    background-color: #ebebeb;
    font-size: 13px;
    text-shadow: none;
    padding: 0 8px;
    padding-bottom: 8px;
  }
  h2 {
    color: #383838;
    font-weight: 500;
    font-size: 18px;
  }
  .text-field {
    font-style: normal;
  }
  hr {
    margin: 8px 0;
    padding: 0;
    border-top: 1px solid #636363;
    background: #fff;
    height: 1px;
    border-width: 1px 0 0 0;
  }
  #e17-button-wrapper {
    @include action-button(#8cbbe2, a);
  }

  #e17-mobil-button-wrapper {
    @include action-button(#8cbbe2, a);
  }
}

/* Book index page */

.section-now-playing {
  height: 18px;
  width: 18px;
  background: transparent url(../images/icons/nowplaying.png) no-repeat 0;
  padding-right: 10px;
  @include flex-grow(0);
}


/* ************************************************************************* *
   Book player page
 * ************************************************************************* */

#book-play-menu {
  .ui-btn {
    margin: 0 !important;
    border-color: #000;
    border-top: none;
    border-left:none;
    border-right:none;
  }
  .ui-btn-up-a, .ui-btn-hover-a {
    background: $darkbuttoncolor;
  }
  .ui-btn-down-a {
    background: $highlightcolor !important;
  }
  /*
  .ui-icon {
    top: 10px !important;
    width: 25px;
    @include border-radius(0, 0);
  }*/
  .ui-block-a, .ui-block-b, .ui.block-c {
    margin-right: 0px !important;
  }
}

#book-context-content {
  overflow-y: scroll;

  &.word-highlight {
    &.is-word-marked {
      p {
        opacity: 1;
      }

      span.word {
        opacity: 0.4;
      }

      span.word.active {
        opacity: 1;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &.external {
      color: crimson;
      text-decoration: underline;
    }
  }

  p {
    margin-top: 0.3em;
    opacity: 0.4;
    line-height: 1.37;

    &.active {
     opacity: 1;
    }
  }

  > div {
    margin: 2%;

    .page {
      margin: 0 auto;
      .area {
       display: none;
      }
    }
  }
}

#book-cartoon-content,
#textarea-example,
#book-plain-content,
#book-context-content {
  position: relative;
  height: 100%;
  text-shadow: none;
}

#book-cartoon-content, #textarea-example {
  overflow: hidden;
}

#book-content {
  position: relative;
  @include flex-grow(1);

  > div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

/* Book index style hacks ************************************************** */

#NccRootElement {
  li.active {
    background-color: white;
  }
  a {
    background: none;
  }
}

.ui-content .ui-listview {
  margin: 0px;
}

.ui-li-static {
  font-size: inherit;
}

/* Bookmark related ******************************************************** */

.bookmark-actions {
    background-color: #282828 !important;
    height: 20px !important;
    color: white !important;
    padding: 0.7em;
    border-top: 0px !important;

    .bookmark-share {
        background-image: url(../images/icons/share_icn_18_white.png);
        background-size: 22px 18px;
        background-repeat:no-repeat;
        background-position:center;
    }

    .bookmark-delete {
        background-image: url(../images/icons/delete_icn_18_white.png);
        background-size: 18px 18px;
        background-repeat:no-repeat;
        background-position:center;
    }
}

.bookmark-indents {
  list-style-type: none;
  padding: 0;
  border-top: 0;
}


/* ************************************************************************* *
   Login page
 * ************************************************************************* */

#login {
  h1 {
    background: transparent url(../images/logo.png) no-repeat;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    text-indent: -9000px;
    width: 150px;
  }
  .ui-content {
    margin: 0 auto;
    max-width: 320px;
    text-align: center;
    padding:15px;
  }
  #loginwrapper {
    padding: 12px;
  }
  div.ui-input-text {
    margin: 4px;
    border: 1px solid #636363;
    background: #FFFFFF;
  }
  .ui-input-text {
    width:90%
  }
}

#login-button-wrapper {
  @include action-button(#5c9dd5, a);
  margin-top:15px;
}

#login {
  .ui-link {
    text-decoration: none;
    color:#484848;
  }
}

#legal {
  color: #2489CE;
  font-size: smaller;
  margin-top: 25px;
}

.ui-content {
  padding:0;
  border-width: 0;
}
.ui-li-icon.ui-li-thumb {
  max-width: 25px;
}


/* Pop-up menu */

.ui-simpledialog-container {
  border: 2px solid #000;
  padding: 8px;

  .ui-btn {
    border: none;
  }
}
.ui-simpledialog-controls {
  a[data-theme='c'] {
    .ui-btn-inner {
      background-color: #778741;
    }
  }

  .ui-btn-inner {
    background-color: #6F6F6F;
    text-shadow: none;
    color: white;
  }
}


/* ************************************************************************* *
   Bubble notification component
 * ************************************************************************* */
$popup-background: #F9F9F9;

$bubble-background: white;
$bubble-opacity: 0.8;
$bubble-arrow-height: 10px;

.settings-popup {
  position: absolute;
}

.settings-popup-arrow {
  position: absolute;

  /* Triangle magic begins here */
  top: 0px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 7px $bubble-arrow-height 7px;
  border-color: transparent transparent $popup-background transparent;
}

.settings-popup-message {
    background: $popup-background;
    /* Center */
    margin: 0px auto;
    position: relative;
    top: $bubble-arrow-height;

    padding: 5px 20px;
    border-radius: 3px;
    white-space: nowrap;
    font-family: 'Clear Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #252525;
    border-top: none;

    @include box-shadow(0px 6px 8px #757575);
}


.bubble-notification {
    position: absolute;
}

.bubble-notification-message {
    opacity: $bubble-opacity;
    background: $bubble-background;
    /* Center */
    margin: 0px auto;
    top: $bubble-arrow-height;

    padding: 5px 20px;
    border-radius: 3px;
    white-space: nowrap;
    font-family: 'Clear Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.bubble-notification-arrow {
    opacity: $bubble-opacity;
    /* Center */
    margin: 0px auto;

    /* Triangle magic begins here */
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 7px $bubble-arrow-height 7px;
    border-color: transparent transparent $bubble-background transparent;
}


/* ************************************************************************* *
   Unit test elements
 * ************************************************************************* */

#qunit {
  text-shadow: none;
}

.test-tab {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  font-family: sans-serif;
  text-shadow: none;
  color: black;
  border-radius: 0.5em 0.5em 0 0;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0.4em;
  background-color: #CCC;

  &.started {
    background-color: #D2E0E6;
    background-image: url(../images/icons/test_running_16.gif);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-size: 16px;
    background-position: 4px 6px;

    &.error {
      background-image: url(../images/icons/glyphish/25-weather.png);
      background-color: #EE5757;
    }

    &.done {
      background-image: url(../images/icons/glyphish/171-sun.png);
      background-color: #C6E746;
    }
  }

}

#sidebar {
  font-family: 'Clear Sans', Arial, sans-serif;
  color: #5D5D5D;
  background: none;
  background-color: #8E8E8E;
  height: 100vh;
  overflow: scroll;
  border-left: 1px solid #898989;

  .icon {
    fill: #5D5D5D;
  }

  .ui-panel-inner {
    padding: 0;
    @include display-flex;
    @include flex-direction(column);
    height: 100%;
  }

  div.tabcontent[aria-hidden='true'] {
    display: none;
  }

  .nav.nav-tabs {
    @include display-flex;
    @include flex-grow(0);

    ul {
      @include display-flex;
      @include flex-grow(1);
      padding: 0;
      margin: 0;
    }

    li {
      $tab-border-color: rgb(137, 137, 137);

      list-style-type: none;
      float: none;
      width: 100%;
      text-align: center;
      display: block;
      padding: 10px;
      background-color: #F9F9F9;
      cursor: pointer;

      &[aria-selected='false'] {
        background-color: #E1E1E1;
        border-bottom: 1px solid $tab-border-color;
      }

      .ui-icon {
        margin: 0pt auto;
      }

      border-right: 1px solid $tab-border-color;

      &:last-of-type {
        border-right: none;
      }
    }
  }

  .tabcontent {
    @include display-flex;
    @include flex-direction(column);
    @include flex-grow(1);
    background-color: #F9F9F9;

    .sidebar-list {
      margin: 0;
      padding: 0;

      > li:first-of-type {
        border: none;
      }
    }

    ul.collapsed {
      display: none;
    }

    li {
      border-top: 1px solid #BBB;
      list-style-type: none;

      .listitem-content {
        @include display-flex;
        @include align-items(center);
        padding: 0 5px;

        .listitem-collapser {
          margin: 0;
          padding: 0;
        }
      }

      a {
        color: #3A3A3A;
        padding: 9px 0 9px 0.5em;
        display: block;
        cursor: pointer;
        @include flex-grow(1);
      }
    }

    .scrollable-content {
      @include flex-grow(1);
      position: relative;

      .scroller {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: scroll;
      }
    }
  }
}

/**** NAVIGATION HEADER ***/
#control-header {
  height: initial;
  border: none;
}

#navigation {
  font-family: 'Clear Sans', Arial, sans-serif;
  background-color: #252525;
  padding: 10px;
  color: white;
  @include flex(0 1 auto);

  .navigation-list {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    padding: 0px;
    margin: 0px;

    li {
      @include display-flex;
      list-style-type: none;

      a {
        display: inline-block;
        cursor: pointer;
        margin: 0 5px;

        &.ui-btn-active {
          border: none;
          background: none;
        }
      }

      &.nav-back {
        @include flex-basis(5%);
      }

      &.nav-controls {
        @include flex-basis(15%);
        @include justify-content(space-around);
        min-width: 200px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }

      &.nav-progressbox {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(space-between);
        @include flex-grow(1);
        margin: 0 2%;

        .progressbox-progress-info {
          @include display-flex;
          @include justify-content(space-between);
        }

        .progressbox-title {
          text-align: center;
        }
      }

      &.nav-settings {
        @include flex-basis(10%);
        @include justify-content(space-around);
        min-width: 120px;
      }
    }
  }

  .jslider.sliderCSS {
    .jslider-label, .jslider-value {
      display: none
    }

    div.jslider-pointer {
      top: -4px;
      width: 5px;
      height: 11px;
      border-radius: 0px;
      background-color: #F1F7F9;
      border: 1px solid #252525;
    }

    .jslider-bg i {
      height: 3px;
    }
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  #navigation .navigation-list {
    @include flex-direction(row);
    @include flex-wrap(wrap);

    li.nav-back {
      @include order(1);
    }

    li.nav-settings {
      @include order(2);
    }

    li.nav-progressbox {
      @include order(3);
      @include flex-basis(100%);
    }

    li.nav-controls {
      @include display-flex;
      @include order(4);
      @include flex-basis(100%);

      a.ui-link {
        width: 100%;
        @include display-flex;
        @include justify-content(center);
      }
    }
  }
}
