@import "partials/base";
@import "partials/jplayer";
.ui-header {
	background: #c0c0c0 url(../images/bg_pattern_black.png) repeat;
	border-top: 1px solid #72716e;
	border-bottom: 1px solid #000;
	height: 2.6875em;
	.ui-title {
		font-size: 18px;
		color:#fff;
	}
	.ui-btn {
    font-size: 18px;
    height: 30px;
    &.ui-btn-icon-notext {
    width: 60px;
    }
  }
}

.ui-btn-active {
   @include box-shadow(none);
   @include text-shadow(none);
   }

.ui-page {
	background: #c0c0c0 url(../images/bg_pattern_blue.png) repeat;
}

#login, #settings, #profile {
	&.ui-page{background: #c0c0c0 url(../images/bg_pattern.png) repeat;}
}

.ui-content {
  background: transparent;
  }

/* remove gradients from listviews */
.ui-listview li {
	&, &:hover, &.ui-btn-hover {
		background-image: none;
	}
}

/* bookshelf */


#bookshelf-content {
	ul {
		li {
			img {
				height: 58px;
				max-height: none;
				margin: 0;
				width: auto;
				left: 0px;
        top: 0;
			}
			.book-play-link {
			padding-left: 45px;
			padding-top: 0.2em;
			}
			
			.cover-image-frame {
			width: 37px;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			height: 58px;
			}
			
			.ui-btn {
			border: none;
			background: none;
			@include box-shadow(none);
			}
			.ui-icon-shadow {
			 @include box-shadow(none);
			}
			.remove-book {
			border-left: 1px solid $listbordercolor;
			}
			
			
			border-top: 1px solid #fff;
			border-bottom: 1px solid #888888;
			height: 58px;
			background-color: #ebebeb;
		
			
			&:hover {
				background-color: #ebebeb;	
			}
			&.ui-btn-down-a {
				background-color: #8cbbe2;
			}
				
		}
	}
}

/* search page */
.ui-input-search {
      height: 33px;
}
#searchresult {
	li {
			img {
				height: 43px;
				max-height: none;
				margin: 0;
				width: auto;
				left: 0px;
				top: 0px;
			}
			.book-play-link {
			padding-left: 38px;
			padding-top: 0.2em;
			}
			.ui-icon {
			background: none;
			}
			.ui-btn {
			border: none;
			background: none;
			@include box-shadow(none);
			}
			.cover-image-frame {
			width: 37px;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			height: 43px;
			}
			.ui-li-heading {
			font-size: 14px;
			font-weight: bold;
			margin: 0;
			}
      .ui-li-desc{
      font-size: 12px;
      margin: .2em 0;
      }

			border-top: 1px solid #fff;
			border-bottom: 1px solid #888888;
			height: 43px;
			background-color: #ebebeb;
			
			&:hover {
				background-color: #ebebeb;	
			}
			&.ui-btn-down-c {
				background-color: #8cbbe2;
			}
				
		}
}


/* Login page */
#login { 
	h1 {
		text-indent: -9000px;
		background: transparent url(../images/logo.png) no-repeat; 
		width: 235px;
		height: 126px;
		text-align: center;
		margin: 0 auto;
	}
	.ui-content{
		max-width: 320px;
		margin: 0 auto;
		text-align: center;
	}

	#loginwrapper {
		padding: 12px;
	}
	
	
	input {
		width: 80%;
		margin: 0 auto;
		border: 2px solid #636363;
		
	}
		
	#username {
		@include border-bottom-radius(0);
		border-bottom-width: 1px;	
	}
	
	#password {
		@include border-top-radius(0);
		border-top-width: 0;
		@include box-shadow(rgba(255, 255, 255, 0.7) 0 2px 0px);
	}
	
	#submit {
		width: 80%;
		border: 2px solid #636363;
		@include box-shadow(rgba(255, 255, 255, 0.7) 2px inset);
		background-color: #8cbbe2;
	}
}

img.nota-full {
  max-height: 120px;
}

.ui-content {
  padding:0;
}

.ui-li-icon.ui-li-thumb {
  max-width: 25px;
}

#NccRootElement a::before,
#searchresult .ui-li-static::before {
  list-style: none;
  list-style-type:none;
  list-style-position: none;
  list-style-image: none;
  counter-increment: none;
  content: none;
}

.ui-content .ui-listview {
  margin: 0px;
}

#book-text-content,
#textarea-example {
  text-shadow: none;
}

#book-text-content {
  min-height: 500px;
  
  img {
    width: 100%;
    height: auto;
  }
  
  h1 a,
  h2 a {
    text-decoration: none;
  }
}

#book-chapter-menu {
  margin-top: 3px;
  font-size: 10px;
}

#book-middle-menu .ui-block-a,
#book-details .ui-block-a {
  width: 18%;
  margin-right: 2%;
  overflow: hidden;
}

#book-middle-menu .ui-block-b,
#book-details .ui-block-b {
  width: 80%;
}

#book-details-content h2 {
  margin-top: 0px;
}

.ui-li-static {
  font-size: inherit;
}

#search-form {
  margin: -8px 65px -5px -5px;
  height: 60px;
}

#submenu {
  float:right;
  margin-right:15px;
}



/* Custom Icons */


.book-now-playing {
    height: 18px;
    width: 18px;
    position: absolute;
    right: 50px;
    top:13px;
    left: auto;
    background: transparent url(../images/icons/nowplaying.png) no-repeat 0;
  }

.ui-icon-lyt-gear {
  background-image: url(../images/icons/settings_menu_icn_18.png)
  }
  
.ui-icon-lyt-search {
  background-image: url(../images/icons/search_menu_icn_18.png)
  }

.ui-btn-icon-notext {
  &[data-icon='lyt-search'], &[data-icon='lyt-gear']  {
    .ui-btn-inner {
      padding: 5px 0 0 21px;
    }
  }
  
  &[data-icon='lyt-search'] {
    @include background-image(linear-gradient(#8cbbe2, #4c95d1));
  } 
  
}

.ui-icon-list-delete {
  background-image: url(../images/icons/delete-list-icn.png);
}

/* Media query for high resolution icons for devices width a device pixel ratio above 2. */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	 .ui-icon-list-delete {
			background-image: url(../images/icons/delete-list-icn_36.png);
      background-size: 18px 18px;
   }
   .ui-icon-lyt-search {
      background-image: url(../images/icons/search_menu_icn_36.png);
      background-size: 18px 18px;
   }
   .ui-icon-lyt-gear {
    background-image: url(../images/icons/settings_menu_icn_36.png);
    background-size: 18px 18px;
  }
  .book-now-playing {
    background-image: url(../images/icons/nowplaying_36.png);
    background-size: 18px 18px;
  }
}
