{
  "users": {
    "standard": {
       "username": "",
       "password": ""
    },
    "invalid": {
       "username": "",
       "password": ""
    }
  },
  "books": {
    "standard": {
      "id": ""
    },
    "cartoon": {
      "id": ""
    }
  }
}
