@font-face {
  font-family: "Dyslexic";
  src: url("open_dyslexic/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Dyslexic";
  font-weight: bold;
  src: url("open_dyslexic/OpenDyslexic-Bold.otf") format("opentype");
}
