.jp-audio {
  position: relative;
}

.jp-progress {
  overflow: hidden;
  background-color: #000;
  position: absolute;
  top: 22px;
  height: 3px; 
  left: 0;
  right: 0; }

.jp-seek-bar {
  background: #464646;
  width: 0px;
  height: 100%;
  cursor: pointer; }
    
.jp-play-bar {
  background: #8cbbe2;
  width: 0px;
  height: 100%; }

.jp-seeking-bg {
  background: url("../images/player/jplayer.blue.monday.seeking.gif");
}

.jp-play, .jp-pause {
  display: block;
}
 
#player-duration {
  text-align: right;
  right: 0;
  position: absolute;
  top: 0;
}

#player-duration, #player-current-time {
  span {
    background: #292929;
    z-index: 200;
  }
}

#player-current-time {
  text-align: left;
  left: 0;
  position: absolute;
  top: 0;
}

h2.player-chapter-title {
    text-align: center;
    color: #cbcbcb;
    text-overflow: ellipsis;  
    text-shadow: none;
    font-size: 11px;
    line-height: 14px;
    height: 14px;
    overflow: hidden;
    z-index: 0;
    font-weight: normal;
    
    position: absolute;
    left: 40px;
    right: 40px;
}

#book-play {
  background: #fff;
}

#book-middle-menu {
  background-color: #292929;
  /*border-top: 1px solid #000;*/
  height: 44px;
  font-size: 13px;
  padding: 0;
}
  
#author {
    font-weight: normal;
}


#player-info {
  height: 45px;
  @include clearfix;
 
  h1, h2, span {
    margin: 0;
    color: #cbcbcb;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
 
  .info {
    position: relative;
    height: 45px;
    margin-left: 39px;
    margin-right: 10px;
  }
}

.jp-time-holder { 
  span {
    text-shadow: none;
  }
}

#book-chapter-menu {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  height: 17px;
  width: 100%;
}

#jp_container_1 {
  background-color: #292929;
}
  
#currentbook-image {
  width: 29px;
  margin: 0;
  float: left;
}
  
#player-info h1 {
  position: absolute;
  width: 100%;
  top: 4px;
  font-size: 13px;
  line-height: 13px;
  height: 18px;
  font-weight: normal;
  text-overflow: ellipsis;
  text-align: center;
  text-shadow: none;
  color: #cbcbcb;
}
