nav {
  $bar-height: 45px;
  $cover-height: $bar-height;
  $cover-width: 55px;
  $progress-bg-color: #464646;
  $progress-seek-color: #8cbbe2;
  $text-color: #e6e6e6;
  $background-color: #292929;

  background-color: $background-color;;

  .jp-seeking-bg {
    background: url("../images/player/jplayer.blue.monday.seeking.gif");
  }

  .jp-play, .jp-pause {
    display: block;
  }

  .player-book-info {
    h1, h2, span {
      margin: 0;
      color: $text-color;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    h1 {
      padding-top: 4px;
      font-size: 13px;
      line-height: 13px;
      height: 18px;
      font-weight: normal;
      text-overflow: ellipsis;
      text-align: center;
      text-shadow: none;
      color: $text-color;
    }

    .jp-progress {
      overflow: hidden;
      background-color: #000;
      height: 3px;
      .jp-seek-bar {
        background: $progress-bg-color;
        width: 0px;
        height: 100%;
        cursor: pointer;
        .jp-play-bar {
          background: $progress-seek-color;
          width: 0px;
          height: 100%;
        }
      }
    }

    .jp-time-holder {
      span {
        text-shadow: none;
      }
    }

    #player-book-title {
      font-weight: bold;
    }

    #book-chapter-menu {
      font-size: 10px;
      height: 17px;
      margin-top: 3px;

      h2.player-chapter-title {
          text-align: center;
          color: $text-color;
          text-overflow: ellipsis;
          text-shadow: none;
          font-size: 11px;
          line-height: 14px;
          height: 14px;
          overflow: hidden;
          z-index: 0;
          font-weight: normal;

          margin-left: 40px;
          margin-right: 40px;
      }

      #player-duration {
        text-align: right;
        float: right;
      }

      #player-duration, #player-current-time {
        span {
          background: $background-color;;
          z-index: 200;
        }
      }

      #player-current-time {
        text-align: left;
        float: left;
      }

    }
  }
}
