<div class="book-player">
  <header class="clearfix">
    <img src="http://bookcover.e17.dk/{{ BookService.currentBook.id }}_h96.jpg" class="pull-left" />
    <h1>{{BookService.currentBook.author}} - {{BookService.currentBook.title}}</h1>
  </header>
  <nav>
    <button ng-click="BookService.skip(-15)" class="">-15</button>
    <button ng-click="toogle()" class="glyphicon" ng-class="{'glyphicon-play': !BookService.playing, 'glyphicon-pause': BookService.playing }"></button>
    <button ng-click="BookService.skip(15)" class="">15</button>
    <progressbar></progressbar>
  </nav>
</div>
