.book-player {
  progressbar {
    .currentTime {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
    }

    .progress {
      margin: 0.25em 0;

      .progress-bar {
        color: black;
      }
    }

    .section-info {
      font-size: 12px;
      .section-title {
        text-align: center;
        width: calc( 100% - 100px );
        margin: 0 50px;
      }
    }
  }
}
