.book-player {
  header {
    margin-bottom: 0.5em;
    .cover-box {
      min-width: 65px;
      .img-thumbnail {
        height: 112px;
      }
    }
    .book-title-box {
      min-height: 112px;
      h1 {
        margin: 0;
        padding: 0;
        font-size: 1.75em;
      }
    }
  }
  nav {
    margin-top: 0.5em;
  }

  progressbar {
    .currentTime {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
    }

    .progress {
      margin: 0.25em 0;

      .progress-bar {
        color: black;
      }
    }

    .section-info {
      font-size: 12px;
      .section-title {
        text-align: center;
        width: calc( 100% - 100px );
        margin: 0 50px;
      }
    }
  }
}
