<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE96C7C11A232B10008D64F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB1BA121A121B140066F4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEB1BA2B1A121B150066F4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
